*.fasta
*.fastq
*.fa
*.bc
*.jf_dump
*.mer_counts
*.o
*.cut
*.ti
tmp*
*.blastx*
*.blastp*
*.p*
*.tmp
cassava.ini
config.ini
log.txt
dev_proj/*
dev-proj/*
bat_brain/*
Delphinus_delphis/*
miles_poster/*
caryophyllales/*
1kp_1/*
lib/*
include/*
external/*
data/*
bin/*
semblans_fa/*
plant_cdna/*
project/*
